{% extends 'index.html' %}

{% block tittle %}Контакты{% endblock %}

{% block content %}

<br>
<div class="centerLayerNewProject orient_box color_back">
    <h3>Контактная информация</h3><p></p>
    <a>Левчук Анатолий Геннадьевич</a><br><p></p>
    <a>н.с. НИЛ МРТ</a><br><p></p>
    <a>Учреждение: ФГБУ «НМИЦ им. В.А. Алмазова» Минздрава России</a><br><p></p>
    <a>адрес: г. Санкт-Петербург, ул. Аккуратова, д. 2Б</a><br><p></p>
    <a>e-mail: levchuk_ag@almazovcentre.ru</a><br><p></p>
    <a>github: <a href="https://github.com/LeTond">LeTond</a></a><br><p></p>
    <a>моб.тел.: +7 921-560-28-91</a><p></p>
</div>
{% endblock %}
