{% extends 'index.html' %}

{% block tittle %}Инструкции{% endblock %}

{% block content %}

<br>
<div class="centerLayerInstructionsTitle orient_box color_back">
    <br>
    <h3>Инструкции по использованию BrainStat</h3>

    <a>1. Для обработки исследования мр-мофрометрии необходимо загрузить ваши данные T1w (MPRAGE), анонимизированные и
        сконвертированные в формат NiFTY. Для конвертации вы можете воспользоваться такими программными покетами как
        <strong>MRIConvert</strong> или <strong>dcm2nii</strong> (входящего в соствав программы MRICRON).</a>
    <p></p>

    <a>2. После успешной загрузки, во вкладке <strong>"Новый проект"</strong> можно ввести основную информацию об
        исследовании и
        обработать морфометрические данные пацинента (введённая информация позволит вам упростить работу с вашей базой
        исследований - осуществлять поиск, сравнивать статистику двух исследований пациента, выполненных в разное
        время).</a>

    <p></p>
    <center><img src="/static/img/bar.png" alt="Альтернативный текст" height="100px"></center>
    <p></p>

    <a>3. Ваше обработанное исследование можно будет найти по названию проекта во вкладке <strong>"Проекты"</strong> или
        же в общем
        списке исследований во вкладке <strong>"Исследования":</strong></a>

    <p></p>
    <center><img src="/static/img/projects_list.png" alt="Альтернативный текст" height="150px"></center>
    <p></p>

    <a>4. По нажатию кнопки <strong>"Исследования"</strong> можно посмотреть результаты всех относящихся к выбранному
        проекту исследований: </a>

    <p></p>
    <center><img src="/static/img/subjects_list.png" alt="Альтернативный текст" height="160px"></center>
    <p></p>

    <a>4. В разделе <strong>"Статистика"</strong> приведены результаты морфометрической обработки исследования. Также, в данном
        разделе вы можете провести сравнение данных пациента с другим исследованием из того же проекта: </a>

    <p></p>
    <center><img src="/static/img/compare_sub.png" alt="Альтернативный текст" height="200px"></center>
    <p></p>

</div>
{% endblock %}
